@using Tp1_WebApplication.ViewModels
@model NoteCreateViewModel

@if (Model.Comments.Any())
{
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>@comment</li>
        }
    </ul>
}

<div class="form-group" style="margin-top: 10px;">
    <form method="post" action="/comments/add" style="display: inline-block;">
        <input type="hidden" name="entityId" value="@Model.EntityId" />
        <input type="hidden" name="entityType" value="@Model.EntityType" />
        <textarea name="commentText" class="form-control" style="width: 100%;"></textarea>
        <button type="submit" class="btn btn-primary" style="float: left; margin-top: 10px;">Add Note</button>
    </form>
</div>